{% extends "base.html" %} {% block content %}
<div class="content-container">
    <img src="static/assets/images/grumpydeer.png" alt="yeah-the-bois-grumpy-deer" class="grumpy-deer-picture">
    <div class="grumpy-deer-text">
        <p>The Band of rejects, We Grumpy deer were born from the forgotten, of the Friday 12:30 - 14:30 practical class. This shared lack of a group prior to the end of week 2 led to us to take the uninhabited group with the name of Grumpy Deer.</p>
        <br>
        <p>
            We took on this challenging task because We believe that this is an interesting introductory topic on machine learning and this area of IT. We also understand that this is a monumental task for mostly first year I.T students but think we are all capable of completing the task at hand.
        </p>
        <br>
        <p>
            Most of the framework is completed for the website, with more time, blood, sweat and tears we should be able to implement the algorithm for our movie reccomendation system in the near futute.
        </p>
    </div>

</div>


{% endblock %}